@font-face {
  font-family: "LexendDeca-Regular";
  src: url(/fonts/LexendDeca-Regular.ttf);
}
body {
  font-family: "LexendDeca-Regular";
}

.containar {
  max-width: 1136px;
  /* set the height of the content container */
  padding: 0px 32px;
  margin: 0 auto;
}

nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
@media screen and (max-width: 900px) {
  nav .nav .logo svg {
    width: 152px;
    height: 16px;
  }
  nav .nav .nav_btns .login {
    display: none;
  }
  nav .nav .nav_btns .singup {
    display: none;
  }
  nav .nav .nav_btns .login_logo {
    display: block;
  }
  nav .nav .nav_btns .singup_logo {
    display: block;
  }
}
@media screen and (max-width: 850px) {
  nav .nav .nav_items .nav_menu li {
    display: none;
  }
  nav .nav .nav_items .mobil_menu_btn svg {
    display: block;
  }
  nav .nav .logo svg g path:nth-child(-n+10) {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  nav .nav .nav_items .nav_btns button {
    padding: 6px 12px;
  }
}

.nav_items .nav_menu {
  display: flex;
  gap: 32;
}
.nav_items .mobil_menu_btn {
  display: block;
}

.nav_items {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav_items .mobil_menu_btn svg {
  display: none;
}
.nav_items .nav_menu {
  display: flex;
  gap: 32px;
}
.nav_items .nav_menu li {
  list-style: none;
}
.nav_items .nav_menu li a {
  color: #181818;
  text-decoration: none;
}
.nav_items .nav_btns {
  display: flex;
  gap: 8px;
}
.nav_items .nav_btns button {
  border-radius: 4px;
  padding: 9px 17px;
  cursor: pointer;
  color: #181818;
  font-size: 12px;
}
.nav_items .nav_btns button.login {
  border: 3px solid #181818;
  background: transparent;
}
.nav_items .nav_btns button.login .logo_img {
  width: 20px;
  height: 20px;
  display: none;
  background: none;
  border: none;
}
.nav_items .nav_btns button.singup {
  border: 1px solid #4CFDC7;
  background: #4CFDC7;
}
.nav_items .nav_btns .login_logo {
  display: none;
  background: none;
  border: none;
}
.nav_items .nav_btns .singup_logo {
  display: none;
  background: none;
  border: none;
}

header {
  display: flex;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 130px;
  gap: 64px;
}
header .header .header_left h1 {
  font-size: 71px;
  font-weight: 400;
  color: #000000;
}
header .header .header_left p {
  margin: 34px 0px;
  max-width: 460px;
  color: #27272A;
}
header .header .header_left .header_left_btns {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
header .header .header_left .header_left_btns a {
  display: block;
  padding: 9px 33px;
  border-radius: 4px;
  text-decoration: none;
}
header .header .header_left .header_left_btns a:nth-child(1) {
  background: #4CFDC7;
  color: #01271C;
}
header .header .header_left .header_left_btns a:nth-child(2) {
  background: transparent;
  color: #181818;
  border: 1px solid #181818;
}
header .header .header_left .header_ledt_stars {
  display: flex;
  gap: 8px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #27272A;
}
header .header .header_right .header_right_img img {
  display: block;
}
@media screen and (max-width: 850px) {
  header .header {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  header .header .header_left .header_left_btns,
  header .header .header_left .header_ledt_stars {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  header .header .header_left .header_left_btns {
    flex-wrap: wrap;
  }
  header .header .header_left .header_left_btns a {
    width: 100%;
  }
  header .header .header_right .header_right_img img {
    width: 100%;
  }
}

main .markets_section .markets .markets_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
main .markets_section .markets .markets_nav h4 {
  font-weight: 400;
  color: #71717A;
  cursor: pointer;
}
main .markets_section .markets .markets_nav h4.actiov {
  color: #181818;
}
main .markets_section .markets_table {
  overflow-y: hidden;
  overflow-x: auto;
}
main .markets_section .markets_table table {
  width: 1136px;
  border-collapse: collapse;
  box-sizing: content-box;
}
main .markets_section .markets_table table tbody tr th {
  color: #181818;
  padding: 16px 0px;
  text-align: left;
  font-weight: 400;
}
main .markets_section .markets_table table tbody tr td {
  padding: 16px 0px;
  color: #181818;
  font-weight: 400;
}
main .markets_section .markets_table table tbody tr td span.aud {
  color: #A1A1AA;
  font-size: 14px;
}
main .markets_section .markets_table table tbody tr td span.up {
  color: #10B981;
}
main .markets_section .markets_table table tbody tr td span.down {
  color: #f34c43;
}
main .markets_section .markets_table table tbody tr td:nth-child(1), main .markets_section .markets_table table tbody tr td:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 16px;
}
main .markets_section .markets_table table tbody tr td a {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 16px 0px;
  background: #4CFDC7;
  border-radius: 4px;
  color: #01271C;
}
main .why__btc__markets {
  margin-top: 20px;
}
main .why__btc__markets h2 {
  text-align: center;
  font-size: min(48px, max(25px + 2vw));
  font-weight: 400;
  margin: 0;
}
main .why__btc__markets .wbm__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-top: 128px;
}
main .why__btc__markets .wbm__items .wbm__item {
  text-align: center;
  max-width: 250px;
}
main .why__btc__markets .wbm__items .wbm__item .wbm__icon {
  margin-bottom: 32px;
}
main .why__btc__markets .wbm__items .wbm__item h4 {
  margin: 0;
  color: #181818;
  font-weight: 400;
  font-size: 20px;
}
main .why__btc__markets .wbm__items .wbm__item p {
  color: #27272A;
  line-height: 24px;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 850px) {
  main .why__btc__markets .wbm__items {
    flex-wrap: wrap;
  }
}
main .template__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 128px;
}
main .template__section:nth-child(4) .template__section__cover {
  order: 1;
}
main .template__section:nth-child(4) .template__section__content {
  order: 2;
}
@media screen and (max-width: 1115px) {
  main .template__section:nth-child(4) .template__section__cover {
    order: 2;
  }
  main .template__section:nth-child(4) .template__section__content {
    order: 1;
  }
}
main .template__section .template__section__content {
  flex: 1 1 350px;
}
main .template__section .template__section__content h4 {
  font-weight: 400;
  color: #181818;
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
}
main .template__section .template__section__content h2 {
  font-size: min(40px, max(20px + 2vw));
  font-weight: 400;
  color: #181818;
}
main .template__section .template__section__content .template__section__content__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  gap: 32px;
}
main .template__section .template__section__content .template__section__content__items .template__section__content__item {
  flex: 1 1 33.3333333333%;
}
main .template__section .template__section__content .template__section__content__items .template__section__content__item h6 {
  font-size: 16px;
  color: #181818;
  font-weight: 400;
  margin: 8px 0px 18px 0px;
}
main .template__section .template__section__content .template__section__content__items .template__section__content__item p {
  color: #27272A;
  font-size: 15px;
  line-height: 24px;
}
main .template__section .template__section__cover {
  flex: 1 1 350px;
}
main .template__section .template__section__cover img {
  width: 100%;
}
@media screen and (max-width: 1115px) {
  main .template__section {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  main .template__section .template__section__content h2 {
    text-align: center;
  }
  main .template__section .template__section__content .template__section__content__items .template__section__content__item {
    flex: 1 1 100%;
    text-align: center;
  }
}
main .vip__program__content h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #18181B;
  text-align: center;
}
main .vip__program__content h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #18181B;
  text-align: center;
}
main .vip__program__content p {
  color: #27272A;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
}
main .vip__program__content .vip__program__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-bottom: 64px;
}
main .vip__program__content .vip__program__items .vip__program__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .vip__program__content .vip__program__items .vip__program__item h6 {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  margin: 0;
}
@media screen and (max-width: 850px) {
  main .vip__program__content .vip__program__items {
    flex-wrap: wrap;
  }
}
main .vip__program__content a {
  display: block;
  text-decoration: none;
  padding: 9px 36px;
  color: #181818;
  border: 1px solid #181818;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto 64px auto;
}
main .vip__program__cover img {
  display: block;
  width: 100%;
}
main .end_text {
  margin-top: 122px;
}
main .end_text h3 {
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
}
main .end_text .end_text_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 97px;
}
main .end_text .end_text_item .end_text_items {
  max-width: 250px;
  text-align: center;
  max-width: 250px;
}
main .end_text .end_text_item .end_text_items h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #18181B;
}
main .end_text .end_text_item .end_text_items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #27272A;
}
@media screen and (max-width: 850px) {
  main .end_text .end_text_item {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
main .end_link {
  display: flex;
  justify-content: center;
}
main .end_link a {
  padding: 9px 33px;
  color: #01271C;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #4CFDC7;
  border: 1px solid #4CFDC7;
  border-radius: 4px;
}
main .end_ledt_stars {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #27272A;
  padding: 73px;
}
main .end_ledt_stars div {
  display: flex;
}
main .epilogue h3 {
  color: #000000;
  font-weight: 400;
  font-size: 46px;
  line-height: 48px;
}
main .epilogue p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #27272A;
  padding: 30px 0 30px 0;
}
main .epilogue .epilogue_link {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
main .epilogue .epilogue_link .epilogue_stars {
  display: flex;
  justify-content: center;
  padding: 30;
  gap: 8px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #27272A;
}
main .epilogue .epilogue_link .epilogue_stars div {
  color: #27272A;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 850px) {
  main .epilogue {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .epilogue .epilogue_link {
    justify-content: center;
    align-items: center;
  }
}
main .end_main {
  padding-top: 124px;
}
main .end_main h3 {
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  color: #1E1E1E;
  text-align: center;
}
main .end_main .end_main_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .end_main .end_main_items .end_main_item .end_span {
  background: #BDFFEB;
  margin: 10px;
}
main .end_main .end_main_items .end_main_item span {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
main .end_main .end_main_items .end_main_item h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #18181B;
}
main .end_main .end_main_items .end_main_item a {
  color: #18181B;
  text-decoration: none;
}
@media screen and (max-width: 1115px) {
  main .end_main .end_main_items {
    flex-wrap: wrap;
  }
}
main .end_main_two h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1E1E1E;
  text-align: center;
  padding: 20px;
}
main .end_main_two .socila {
  display: flex;
  justify-content: space-between;
}
main .end_main_two .socila div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .end_main_two .socila div .items a {
  text-decoration: none;
  color: #18181B;
}
@media screen and (max-width: 850px) {
  main .end_main_two .socila {
    flex-wrap: wrap;
  }
}
main .text h4 {
  width: 427px;
  color: #1E1E1E;
  font-weight: 400;
  font-size: 46px;
  line-height: 48px;
}
main .text a {
  top: 47px;
  background: #4CFDC7;
  color: #01271C;
  text-decoration: none;
  padding: 11px 33px;
}

footer .footer {
  padding-top: 200px;
}
footer .footer .big_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .big_footer .big_footer_item {
  margin: 16px;
}
footer .footer .big_footer .big_footer_item .items {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer .big_footer .big_footer_item h4 {
  margin: 16px;
  color: #18181B;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
footer .footer .big_footer .big_footer_item a {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  display: block;
  text-decoration: none;
  margin: 16px;
  color: #3F3F46;
}
@media screen and (max-width: 768px) {
  footer .footer .big_footer {
    flex-wrap: wrap;
  }
}
footer .footer_end {
  text-align: center;
}
footer .footer_end div {
  margin: 20px auto;
  display: flex;
  gap: 20px;
}
footer .footer_end div p {
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}/*# sourceMappingURL=style.css.map */